body {
  color: #242424;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 900;
  color: black;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
}

main{
  display: block;
  background-color: white;
}

.container{
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
}

.module p{
  margin-bottom: 40px;
}
.module:last-child{
  margin-bottom: 0;
}
.module h2{
  margin-bottom: 40px;
  font-size: 2rem;
}

.content{
  padding: 40px 0;
  background: #ece7d5;
}